.table {
    border-collapse: collapse;
    /* font-family: 'lato' sans-serif; */
}

.tableCell {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.tableHeader {
    background-color: black;
    color: aqua;
}

.tableRow:nth-child(even) {
    background-color: rgb(169, 220, 220);
}

.tableRow:hover {
    background-color: rgb(102, 218, 218);
}
